/****************************
 * Social media
****************************/
.br-social-buttons ul {
  display: flex;
  margin: 0;
  list-style: none;
  padding-left: 0;
}
.br-social-buttons ul > li:not(:last-child) {
  margin: 0 10px 0 0;
}
.br-social-buttons ul > li > a {
  text-decoration: none;
}
.br-social-buttons ul > li img {
  max-width: 30px;
}
.br-social-buttons ul > li > a:hover,
.br-social-buttons ul > li > a:focus {
  text-decoration: none;
}
